.right {
    text-align: right;
}

.number {
    font-family: monospace;
    text-align: right;
}

.row-index {
    text-align: right;
    width: 1ch;
}

code {
    word-break: break-all;
}

td details {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.green {
    color: #388e3c;
}

.red {
    color: #c62828;
}

code .txid {
    color: hsl(40, 10%, 50%);
}

code .script {
    color: hsl(330, 30%, 50%);
}


code .wit0 {
    color: hsl(330, 30%, 50%);
}

code .wit1 {
    color: hsl(185, 30%, 50%);
}

.qr {
    height: 250px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}